:root {
    --primary-color: red;
    --secondary-color: gold;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
}

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px 0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
}

header {
    background-color: red;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

.hero {
    position: relative;
    text-align: center;
}

.hero picture img {
    width: 100%;
    height: auto;
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.data,
.weather {
    background-color: white;
    opacity: .95;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 45%;
}

.data h2,
.weather h2 {
    margin-bottom: 15px;
    background-color: gold;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center;
}

.weather-icon {
    display: inline-block;
    margin-left: 10px;
    width: 100px;
    height: 10px;
    background-image: url('images/weather-icon.svg');
    background-size: contain;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: red;
    color: #fff;
    position: relative;
}

footer p {
    margin: 5px 0;
}

@media (max-width: 767px) {
    .info {
        flex-direction: column;
        position: static;
        transform: none;
        width: 100%;
        padding: 20px;
    }

    .data,
    .weather {
        width: 100%;
        margin: 10px 0;
    }
}