
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Roboto:wght@700&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: #002626; 
}

header, footer {
    background-color: #688B58; 
    color: white;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header h2 {
    margin: 5px 0 0;
    font-size: 1.5em;
    font-weight: 400;
}

main {
    padding: 20px;
}


section {
    margin-bottom: 20px;
    background-color: #EEF4D4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
}

section p, section ul {
    margin: 0 0 10px;
}

ul {
    padding-left: 20px;
}

li {
    list-style-type: disc;
}

#site-name, #site-purpose, #scenarios, #color-schema, #typography, #wireframe {
    border-left: 5px solid #E55812; 
    padding-left: 15px;
}


footer p {
    margin: 5px 0;
}


#wireframe div {
    text-align: center;
}

#wireframe img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


@media (min-width: 768px) {
    main {
        width: 80%;
        margin: 0 auto;
    }
}